{% extends "base.html" %}
{% load static %}

{% block content %}

<br>
<div class="container">
<div class="row">
    <form method="POST" action=''>
      {% csrf_token %}
      {{ form }}
      <input type="submit" value="Add an item" />
    </form>
</div>
<br>
<div class="row">
  {% for key, value in d.items %}
  <div class="container-fluid col-xs-3">
    <div class="panel panel-primary">
      <div class="panel-heading">
          <h3 class="panel-title text-left"> {{key}} </h3>
          <div class = "text-right"> <h4 style="color: white"> {{value}} </h4> / {{key.budget}}
          </div>
          </div>
        <div class="panel-body"> Panel content
          </div>
  </div>
  </div>
  {% endfor %}

</div>
<div class="row">
  {% for key, value in d.items %}
<!--    <div class="col-xs-3 well"> -->
      <div class="panel panel-primary col-xs-3">
            <h3 class="text-center"> {{key}} </h3>
              <div class = "text-right text-primary"> {{value}} / {{key.budget}}
            </div>
          <br>
            <div class="panel-body"> <!-- begin panel body -->
    {% for item in items %}
      {% if item.category == key %}
        {{item.name}} {{item.price}} <br>
      {% endif %}
    {% endfor %}
    </div> <!-- end panel body -->
  </div>

  {% endfor %}
{% endblock %}
